// banner css

#banner {
    background: url(../images/bennar.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // prosno khatai lekha ase!!
    padding: 462px 0;
    // padding: 231px 0;
    .container {
        .content-area {
            .content {
                p {
                    color: $sand;
                    font-size: 18px;
                    font-family: $primary-font;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 7px;
                    text-transform: uppercase;
                }
                h1 {
                    color: $white;
                    font-size: 96px;
                    font-family: $primary-font;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 100px;
                    text-transform: capitalize;
                }
                h2 {
                    color: $white;
                    font-size: 96px;
                    font-family: $primary-font;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 100px;
                    text-transform: capitalize;
                }
            }
        }
    }
}